/*Parte de nuestra clases*/
.content{
    width: 100%;
    height: auto;
}

.titulo{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    margin-top: 1%;
    margin-bottom: 1%;
}
.subtitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4;
    padding-top: 5px;
    padding-bottom: 5px;
}
.parrafo{
    font-family: 'Bree Serif', Arial, Helvetica, sans-serif, serif;
    font-size: 1.1rem;
    
}
.contenido{
    display: flex;
    text-align: center;
    min-width: 30%;    
}
.cajas{
    max-width: 25%;
    height: 16%;
    padding: 15px 50px;
    margin: 2%;
    border: 10px solid #369681;
    background: #e4e4e4;
}
.imagen{
    position: relative;
    width:80%;
    height: 60%;
    padding: 20px 0px;
    transition:all 350ms;
  }
.imagen:hover{
    transition:all 300ms;
    transform: scale(1.1);
}

/*Parte de nuestros alumnos*/
.galardones{
    min-width: 30%;
    max-height: 20%;
}
.tabla{
    background-color: lightsteelblue;
    text-align: center;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 2%;
}

th, td{
    padding: 10px;
}

th{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}
tr:hover{
    background-color: #369681;
}

/*Parte de galardones*/
.lista ol{
    margin-bottom: 2%;
}
.lista ol li{
    padding-top: 10px;
}
.lista {
    font-family: 'Bree Serif', Arial, Helvetica, sans-serif, serif;
    font-size: 1.1rem;
}
